<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hledání odletů</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
  <h1>Vyhledat odlety</h1>

  <!-- Chybová hláška pokud uživatel zada neplatné údaje-->
  <div th:if="${errorMessage}" class="error-box" th:text="${errorMessage}"></div>

  <form action="/departures" method="post">
    <div>
      <label for="airport">ICAO kód letiště</label>
      <input type="text" id="airport" name="airport"
             th:value="${airport}"
             placeholder="např: *LKPR* (Praha), *LOWW* (Vídeň), *EPKT* (Katowice)" required/>
    </div>
    <div>
      <label for="from">Od</label>
      <input type="datetime-local" id="from" name="from"
             th:value="${fromValue}" />
    </div>
    <div>
      <label for="until">Do</label>
      <input type="datetime-local" id="until" name="until"
             th:value="${untilValue}" />
    </div>
    <button type="submit">Hledej</button>
  </form>

  <!-- Poznámka pod formulářem-->
  <div class="note">
    Berte na vědomí, že požadavek > 7 dní nebude proveden, protože tento request u neregistrovaných účtů na OpenSky neni povolen. Dále nebude povolen požadavek starší než 5 let.

  </div>
</div>
</body>
</html>
